server:
    port: 8303
spring:
    application:
        name: api-gateway
    cloud:
        gateway:
            server:
                webflux:
                    discovery:
                        locator:
                            enabled: true
                            lower-case-service-id: true
                    routes:
                      - id: user-service
                        uri: lb://USER-SERVICE
                        predicates:
                          - Path=/user/**
                        filters:
                          - StripPrefix=0
                      - id: auth-service
                        uri: lb://AUTH-SERVICE
                        predicates:
                          - Path=/auth/**
                        filters:
                          - StripPrefix=0
                      - id: product-service
                        uri: lb://PRODUCT-SERVICE
                        predicates:
                          - Path=/products/**,/categories/**,/brands/**,/variants/**,/images/**
                        filters:
                          - StripPrefix=0
                      - id: order-service
                        uri: lb://ORDER-SERVICE
                        predicates:
                          - Path=/cart/**,/orders/**
                        filters:
                          - StripPrefix=0
eureka:
    client:
        service-url:
            defaultZone: http://localhost:8301/eureka
        fetch-registry: true
        register-with-eureka: true
        registry-fetch-interval-seconds: 5
    instance:
        hostname: localhost
auth:
    service:
        url: lb://AUTH-SERVICE
secure:
    ignored:
        urls:
          - /swagger-ui/
          - /swagger-resources/**
          - /**/v2/api-docs
          - /**/*.html
          - /**/*.js
          - /**/*.css
          - /**/*.png
          - /**/*.map
          - /favicon.ico
          - /actuator/**
          - /druid/**
          - /auth/login
          - /auth/register
          - /categories
          - /brands
          - /products
logging:
    level:
        org.springframework.cloud.gateway: DEBUG
        reactor.netty.http.client: DEBUG
        org.springframework.web: DEBUG
