server:
    port: 8307

spring:
    application:
        name: payment-service
    datasource:
        url: jdbc:postgresql://${DB_HOST:localhost}:5432/payment_db
        username: ${PAYMENT_SERVICE_USERNAME:payment-service}
        password: ${PAYMENT_SERVICE_PASSWORD:payment-service-01}
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    flyway:
        locations: classpath:db/migration
        url: jdbc:postgresql://${DB_HOST:localhost}:5432/payment_db
        user: ${PAYMENT_SERVICE_USERNAME:payment-service}
        password: ${PAYMENT_SERVICE_PASSWORD:payment-service-01}
    cloud:
        function:
            definition: consumerCreatedOrder
        azure:
            servicebus:
                connection-string: ${CONNECTION_TOPIC_STRING:Endpoint=sb://localhost/;SharedAccessKeyName=dev;SharedAccessKey=devKey}
        stream:
            bindings:
                consumerCreatedOrder-in-0:
                    destination: order-saga
                    group: sub-order-created
            servicebus:
                bindings:
                    consumerCreatedOrder-in-0:
                        consumer:
                            auto-complete: true
                            max-concurrent-calls: 5
                            prefetch-count: 10
eureka:
    client:
        service-url:
            defaultZone: http://${REGISTRY_HOST:localhost}:8301/eureka
        fetch-registry: true
        register-with-eureka: true
    instance:
        hostname: ${HOST_ADDR:localhost}

vnpay:
    tmnCode: ${TMN_CODE:12345}
    hashSecret: ${HASH_SECRET:12345}
    payUrl: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    returnUrl: ${VNPAY_CALL_BACK:http://localhost:8303/payments/return-callback}

momo:
  partnerCode: ${MOMO_PARTNER_CODE:MOMO}
  accessKey: ${MOMO_ACCESS_KEY:F8BBA842ECF85}
  secretKey: ${MOMO_SECRET_KEY:K951B6PE1waDMi640xX08PD3vg6EkVlz}
  returnUrl: ${MOMO_RETURN_URL:http://localhost:8303/payments/momo-callback}
  notifyUrl: ${MOMO_NOTIFY_URL:http://localhost:8303/payments/momo-callback}

frontend:
    redirect: ${FRONTEND_REDIRECT:http://localhost:8303/}