server:
  port: 8306

spring:
    application:
        name: order-service
    datasource:
        url: jdbc:postgresql://localhost:5432/order_db
        username: order-service
        password: order-service-01
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    flyway:
        locations: classpath:db/migration
        url: jdbc:postgresql://localhost:5432/order_db
        user: order-service
        password: order-service-01
    cloud:

        discovery:

          enabled: false

    eureka:

      client:

        enabled: false

        register-with-eureka: false

        fetch-registry: false

    logging:

      level:

        com.netflix.discovery: WARN

        org.springframework.cloud.netflix.eureka: WARN
